<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <connectionStrings>
    <add name="TaskManagerDB" providerName="System.Data.SqlClient" connectionString="Server=DESKTOP-HFHC3UI\SQLEXPRESS;Database=task_manager;Trusted_Connection=True;" />
  </connectionStrings>
  <appSettings>
    <add key="spFilter" value="spFiltriranje"/>
        <add key="spIzvestaj" value="spReport"/>
    <add key="spDodadiKorisnik" value="spAddKorisnici"/>
    <add key="spIzbrisiKorisnik" value="spDeleteKorisnici"/>
    <add key="spIzmeniKorisnik" value="spUpdateKorisnici"/>
    <add key="spZemiKorisnik" value="spGetKorisnici"/>
    <add key="spZemiKorisnici" value="spGetAllKorisnici"/>
      <add key="spDodadiVraboten" value="spAddVraboteni"/>
    <add key="spIzbrisiVraboten" value="spDeleteVraboteni"/>
    <add key="spIzmeniVraboten" value="spUpdateVraboteni"/>
    <add key="spZemiVraboten" value="spGetVraboteni"/>
    <add key="spZemiVraboteni" value="spGetAllVraboteni"/>
      <add key="spDodadiOddel" value="spAddOddel"/>
    <add key="spIzbrisiOddel" value="spDeleteOddel"/>
    <add key="spIzmeniOddel" value="spUpdateOddel"/>
    <add key="spZemiOddel" value="spGetOddel"/>
    <add key="spZemiOddeli" value="spGetAllOddel"/>
      <add key="spDodadiStatus" value="spAddStatus"/>
    <add key="spIzbrisiStatus" value="spDeleteStatus"/>
    <add key="spIzmeniStatus" value="spUpdateStatus"/>
    <add key="spZemiStatus" value="spGetStatus"/>
    <add key="spZemiStatusi" value="spGetAllStatus"/>
    <add key="spUpdateZadacaStatus" value="spUpdateTaskStatus"/>
      <add key="spDodadiPozicija" value="spAddPozicija"/>
    <add key="spIzbrisiPozicija" value="spDeletePozicija"/>
    <add key="spIzmeniPozicija" value="spUpdatePozicija"/>
    <add key="spZemiPozicija" value="spGetPozicija"/>
    <add key="spZemiPozicii" value="spGetAllPozicija"/>
      <add key="spDodadiProekt" value="spAddProekt"/>
    <add key="spIzbrisiProekt" value="spDeleteProekt"/>
    <add key="spIzmeniProekt" value="spUpdateProekt"/>
    <add key="spZemiProekt" value="spGetProekt"/>
    <add key="spZemiProekti" value="spGetAllProekt"/>
      <add key="spDodadiZadaca" value="spAddTask"/>
    <add key="spIzbrisiZadaca" value="spDeleteTask"/>
    <add key="spIzmeniZadaca" value="spUpdateTask"/>
    <add key="spZemiZadaca" value="spGetTask"/>
    <add key="spZemiZadaci" value="spGetAllTask"/>
    <add key="spValidacija" value="spGetKorisnik"/>
    <add key="spOdobri" value="spOdobriTask"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
 <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*" />
          <add name="Access-Control-Allow-Headers" value="Content-Type" />
          <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
         <add name="Access-Control-Allow-Credentials" value="true" />
        </customHeaders>
      </httpProtocol>
  </system.webServer>
   <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
